
.AppDrawerContainer{
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

}



.AppDrawerContainer[toggled]{
    width: 50vw;
    max-height: 25vh;
    height: fit-content;

    padding: 1rem;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-start;
}

*:has([toggled]:not(.AppDrawerContainer))>.AppDrawerContainer{
    height: 4rem;
    width: 4rem;
    border-radius: 1.5rem;
}

.drawerIcon,.drawerAddIcon{
    font-size: 3rem;
    aspect-ratio: 1/1;
}

.drawerAddIcon{
    cursor: pointer;
    transition: all 200ms ease;
    opacity: 0.6;
}
.drawerAddIcon:hover{
    opacity: 1;
}
.drawerAddIcon:active{
    transform: scale(.9);
}


.AppDrawerContainer:not([toggled]) li{
    display: none;
}

.AppDrawerContainer li{
    display: flex;

}

.AppDrawerContainer > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


.drawerItem{
    height: 3rem;
    min-width: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
