
.AppDrawerContainer{
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AppDrawerContainer[toggled]{
    width: 50vw;
    height: 25vh;
    padding: 1rem 0.9rem;
    align-items: flex-start;
    justify-content: flex-start;
}

*:has([toggled]:not(.AppDrawerContainer))>.AppDrawerContainer{
    /*display: none;*/
    height: 4rem;
    width: 4rem;
    border-radius: 1.5rem;
}

.drawerIcon{
    font-size: 2.5rem;
    aspect-ratio: 1/1;
}


.AppDrawerContainer[toggled] > .drawerIcon{

}
