@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.timebanner{
    font-size: 8rem;
    letter-spacing: 0.1rem;
    color: var(--rainbow);
    transition: color var(--rainbow-timing) linear;

    font-weight: 800;
    font-family: "Roboto Mono";
    opacity: 0.5;
    margin-top: 0;
}
