
.searchContainer {
    --r1: #ff5454;
    --r2: #47ff47;
    --r3: #373aff;

    --blur: 12px;

    height: 6rem;
    width: 6rem;

}
.searchContainer[toggled]{
    width: 50vw;
    height: 4rem;
}

.searchContainer:not([toggled]) > .input {
    display: none;
}

.input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;

    padding: 1rem 3rem 1rem 1.25rem;

    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.02rem;
    background: transparent;
    color: var(--text-c);
    font-family: inherit;

    overflow: hidden;
    text-overflow: ellipsis;
}


.searchContainer:not([toggled]) > .searchIcon {
    font-size: 2.5rem;
}


.searchIcon {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 2rem;
    font-weight: 600;

    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 200ms ease-in-out, font-size 200ms ease-in-out;
}

.searchIcon:hover {
    transform: scale(1.1);
}

.searchIcon:active {
    transform: scale(1);
}


